@charset "UTF-8";
/* Cores do site
--Azulescuro: #OB1F3B;
--Azul-primario-Acento:#2563EB;
--Amrelo-Destaqu:#FACC15;
--Cinza-claro-fundo: #E5E&EB;
--texto-escuro-ptincipal: #111827;
*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
--fundo-primario-Azul-escuro-: #0B1F3B;
--fundo-secundario-Cinza-claro-fundo: #E5E7EB;
--cor_de_texto_primario:  #E5E7EB;
--texto-escuro-ptincipal: #111827;
--Azul-primario-Acento:#2563EB;
--Amrelo-Destaque:#FACC15;


} 
body{
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    
 
 

}

header{
    background-color: var(--fundo-primario-Azul-escuro-);
    color: var(--cor_de_texto_primario);
    
    padding: 15px 50px 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.008);
  
    
}
.logo{
    display: flex;
    gap: 10px;
}
.nav-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}
.nav > .nav-list{
    
    display: flex;
    gap: 20px;
    align-items: center;

}
.nav-item{
     
    
}
.nav-item:hover{
    
   

}
.nav-link{
    padding-bottom:10px;
    color: var(--cor_de_texto_primario);
    font-size: 1.1rem;
}
.nav-link:hover{
    color: var(--Amrelo-Destaque);
    border-bottom: 2px solid var(--Amrelo-Destaque);
    transition: .8s;

}
.btn{
    background-color: #FACC15;
    color: var(--texto-escuro-ptincipal);
    padding: 10px;
    border: none;
    border-radius: 20px;
}

/*MAIN */
main{
    
    background-image: linear-gradient(to right, var(--texto-escuro-ptincipal),var(--fundo-primario-Azul-escuro-));
    padding: 10px 50px 10px 50px;
    color: #E5E7EB;
    background-color: #FACC15;
    display: grid;
    grid-template-rows: 1fr 400px 300px 300px 250px;
    grid-column: 1fr;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.text-nome h2{
    color: var(--Amrelo-Destaque);
    font-size: 1rem;

}
.text-nome h1{
    font-size: 3rem;
}
.text-paragrafo p {
    text-align: justify;
    margin-top: 5px;

}
.hero-img{
    
}